main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
#less-than-zero{
  color: red;
}

#greater-than-ninety-nine{
  color: red;
}
#guess {
  width: 5em;
}

#reset {
  margin: 20px;
}
